[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "==4.0.0a5"
requests = "==2.23.0"
pytest = "==5.4.2"
webdriver-manager = "==2.5.0"

[requires]
python_version = "3.7"
